<% if is_index? %>
  <h4><%= link_to recipe.capitalized_name, recipe_path(recipe) %></h4>
<% else %>
  <h4><%= recipe.capitalized_name %></h4>
<% end %>

Rating: <%= recipe.rating %> / 5 <br>
Recipe by: <%= link_to recipe.user.email, user_recipes_path(recipe.user) %> <br>
Cook Time: <%= recipe.cook_time %> Minutes <br>

<% if is_show?(recipe) %>
  Description: <%= recipe.description %> <br>
  Ingredients:
  <% @recipe.recipe_ingredients.each do |ri| %>
    <li> <%= ri.quantity %> - <%= ri.capitalized_ingredient %> </li>
  <% end %>
<% end %>

<% if current_user.id == recipe.user.id && (is_user_nested? || is_show?(recipe)) %>
  <%= link_to "Edit", edit_recipe_path(recipe) %>
  <%= link_to "Delete", recipe, method: :delete %>
<% end %>
<br>
